<div class="bg-img full-div">
    <header class="container">
        <section class="content">
            <h1><strong>Welcome To Hospital Management Portal</strong></h1>
            <p class="sub-title">Portal that manages the way hospital administration activities are managed.
                 Gone are the days to
                wait in a queue or being dependent on hospital staff <br />
                you can book your appointments online on this portal for varios issues
            </p>
        </section>
    </header>
</div>