<div class="align" style="margin:auto;">
    <mat-card>
        <mat-card-title>
            <p class="align">
                Forgot Password
            </p>
        </mat-card-title>
        <mat-card-content>
            <form>
                <div class="column">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" type="email" [formControl]="email" required>
                    </mat-form-field>
                    <div class="margin-top-10 row">
                        <div class="margin-top-10">

                        </div>
                        <span class="div-spacer"></span>
                        <div>
                            <button mat-flat-button color="primary" type="submit" [disabled]="email.invalid"
                                (click)='sendResetEmail()'>Send Email</button>
                        </div>
                    </div>

                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>