<div class="align" style="margin:auto;">
    <mat-card>
        <mat-card-title>
            <p class="align">
                Reset Password
            </p>
        </mat-card-title>
        <mat-card-content>
            <form [formGroup]="resetPasswordForm">
                <div class="column">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password" type="password" formControlName="password">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput placeholder="Password" type="password" formControlName="confirmPassword">
                    </mat-form-field>
                    <div class="margin-top-10 row">
                        <div class="margin-top-10">

                        </div>
                        <span class="div-spacer"></span>
                        <div>
                            <button mat-flat-button color="primary" type="submit" [disabled]="resetPasswordForm.invalid"
                                (click)='resetPassword()'>Reset Password</button>
                        </div>
                    </div>

                </div>
            </form>

        </mat-card-content>
    </mat-card>
</div>